create database QLNV_SCRIPT
use qlnv_script
if exists (select * from dbo.sysobjects where name='NHANVIEN')
begin
	drop table NHANVIEN
end
GO
create table NHANVIEN
(
	HONV	nvarchar(15),
	TENLOT	nvarchar(15),
	TENNV	nvarchar(15),
	MANV	bigint,
	NGSINH	datetime,
	DCHI	NVARCHAR(50),
	PHAI	nvarchar(10),
	LUONG	numeric,
	MA_NQL	bigint,
	PHG		INT

	primary key(MANV)
);
if exists (select * from dbo.sysobjects where name='PHONGBAN')
begin
	drop table PHONGBAN
end
create table PHONGBAN
(
	TENPHG		NVARCHAR(50),
	MAPHG		INT,
	TRPHG		BIGINT,
	NG_NHANCHUC	DATETIME
	
	PRIMARY KEY(MAPHG)
)

CREATE TABLE THANNHAN
(
	MA_NVIEN	BIGINT,
	TENTN		NVARCHAR(15),
	PHAI		NVARCHAR(10),
	NGSINH		DATETIME,
	QUANHE		NVARCHAR(15)

	PRIMARY KEY(MA_NVIEN,TENTN)
)

CREATE TABLE DEAN
(
	TENDA		NVARCHAR(20),
	MADA		INT,
	DDIEM_DA	NVARCHAR(15),
	PHONG		INT
	
	PRIMARY KEY(MADA)		
)

CREATE TABLE DIADIEM_PHG
(
	MAPHG	INT,
	DIADIEM	NVARCHAR(15)
	
	PRIMARY KEY(MAPHG,DIADIEM)
)

CREATE TABLE PHANCONG
(
	MA_NVIEN	BIGINT,
	SODA		INT,
	THOIGIAN	INT

	PRIMARY KEY(MA_NVIEN,SODA)
)
-- NHAP DU LIEU NHANVIEN

INSERT INTO NHANVIEN(HONV,TENLOT,TENNV,MANV,NGSINH,DCHI,PHAI,LUONG,MA_NQL,PHG)
VALUES ('CAO','SI','KI',123123456,'08/09/1986','123 Le Loi Q1 TpHCM','NAM',15000,123456789,5)

INSERT INTO NHANVIEN(HONV,TENLOT,TENNV,MANV,NGSINH,DCHI,PHAI,LUONG,MA_NQL,PHG)
VALUES ('DINH','BA','TIEN',123456789,'01/09/1955','731 Tran Hung Dao Q1 TpHCM','NAM',30000,123456789,5);

INSERT INTO NHANVIEN(HONV,TENLOT,TENNV,MANV,NGSINH,DCHI,PHAI,LUONG,MA_NQL,PHG)
VALUES ('TRUONG','LE','DOAN',147852369,'05/15/1986','22/41/2 Le Van Tho F11 Go Vap','Nu',16500,147852369,1);








-- GIU LIEU PHONGBAN

INSERT INTO PHONGBAN(TENPHG,MAPHG,TRPHG,NG_NHANCHUC)
VALUES('Quan ly',1,666884444,'06/19/1971')

INSERT INTO PHONGBAN(TENPHG,MAPHG,TRPHG,NG_NHANCHUC)
VALUES('To chuc',2,987987987,'01/15/2001')

INSERT INTO PHONGBAN(TENPHG,MAPHG,TRPHG,NG_NHANCHUC)
VALUES('Dieu hanh',4,123456789,'01/01/1985')


-- GIU LIEU THANNHAN

INSERT INTO THANNHAN(MA_NVIEN,TENTN,PHAI,NGSINH,QUANHE)
VALUES (333445555,'Chau Long','Nam','01/02/2005','CHONG')

INSERT INTO THANNHAN(MA_NVIEN,TENTN,PHAI,NGSINH,QUANHE)
VALUES (333445555,'KHANG','Nam','10/25/1973','CON TRAI')

INSERT INTO THANNHAN(MA_NVIEN,TENTN,PHAI,NGSINH,QUANHE)
VALUES (333445555,'Ngoc Phi','NU','04/05/1976','CON GAI')




-- GIU LIEU DEAN

INSERT INTO DEAN(TENDA,MADA,DDIEM_DA,PHONG)
VALUES('SAN PHAM Y',2,'NHA TRANG',1)

INSERT INTO DEAN(TENDA,MADA,DDIEM_DA,PHONG)
VALUES('SAN PHAM Z',3,'TP HCM',5)

INSERT INTO DEAN(TENDA,MADA,DDIEM_DA,PHONG)
VALUES('SAN PHAM X',5,'VUNG TAU',1)



-- GIU LIEU DIADIEM_PHG

INSERT INTO DIADIEM_PHG(MAPHG,DIADIEM)
VALUES(1,'VUNG TAU')

INSERT INTO DIADIEM_PHG(MAPHG,DIADIEM)
VALUES(2,'TP HCM')

INSERT INTO DIADIEM_PHG(MAPHG,DIADIEM)
VALUES(2,'NHA TRANG')




-- GIU LIEU PHANCONG

INSERT INTO PHANCONG(MA_NVIEN,SODA,THOIGIAN)
VALUES(123123456,2,1)

INSERT INTO PHANCONG(MA_NVIEN,SODA,THOIGIAN)
VALUES(123123456,40,2)

INSERT INTO PHANCONG(MA_NVIEN,SODA,THOIGIAN)
VALUES(123456789,40,3)









-- thiet lap khoa ngoai

alter table nhanvien
add constraint FK_nhanvien_phongban
FOREIGN key(PHG) REFERENCES PHONGBAN(MAPHG)

ALTER TABLE THANNHAN
ADD CONSTRAINT FK_THANHAN_NHANVIEN
FOREIGN KEY(MA_NVIEN) REFERENCES NHANVIEN(MANV)

alter table dean
ADD CONSTRAINT FK_DEAN_PHONGBAN
FOREIGN KEY (PHONG) REFERENCES PHONGBAN(MAPHG)

ALTER TABLE PHANCONG
ADD CONSTRAINT FK_PHANCONG_DEAN
FOREIGN KEY (SODA) REFERENCES DEAN(MADA)

ALTER TABLE PHANCONG
ADD CONSTRAINT FK_PHANCONG_NHANVIEN
FOREIGN KEY(MA_NVIEN) REFERENCES NHANVIEN(MANV)

ALTER TABLE DIADIEM_PHG
ADD CONSTRAINT FK_DIADIEM_PHONGBAN
FOREIGN KEY(MAPHG) REFERENCES PHONGBAN(MAPHG)



-- DANG KY


CREATE TABLE THANHVIEN
(
	ID		INT IDENTITY(0,1),
	TenDN	NVARCHAR(15),
	MatKhau	NVARCHAR(15),
	VaiTro	NVARCHAR(20),
	GhiChu	NVARCHAR(50)
	PRIMARY KEY (ID)
)

ALTER TABLE THANHVIEN
	ADD CONSTRAINT	VAITROUSER
		CHECK(VAITRO='ADMIN' OR VAITRO='MANAGER' OR VAITRO ='USER')
INSERT INTO THANHVIEN(TENDN,MATKHAU,VAITRO,GHICHU)
VALUES ('ThienVD','ThienVD','Admin','Nguoi Quan Ly ')

INSERT INTO THANHVIEN(TENDN,MATKHAU,VAITRO,GHICHU)
VALUES ('QuangLx','Quanglx','Manager','Nhan Vien')

INSERT INTO THANHVIEN(TENDN,MATKHAU,VAITRO,GHICHU)
VALUES ('Taihk','Taihk','User','Nhan Vien')



